<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118448001-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118448001-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="css/style.css">
    <title>Bead</title>
</head>

<body>

<div class="page-wrap" id="app">
    <header class="header"></header>
    <main class="main">
        <h1>Герданы и жгуты из бисера.</h1>
        <nav class="filter">
            <button class="filter__btn" @click="filtering()">Все работы</button>
            <button class="filter__btn" @click="filtering('gerdan')">Герданы</button>
            <button class="filter__btn" @click="filtering('rope')">Жгуты и лариаты</button>
        </nav>


        <div>
            <ul class="products-wrap">
                <li v-for="(product, index) in productsList" :key="index" class="product" @click="setCurrentProduct(product)">
                    <div class="product__main-part">
                        <div class="product__img-cont"><img :src="product.img" :alt="product.name"></div>
                        <div class="product__name">{{product.name}}</div>
                    </div>
                    <div class="product__hover-part">
                        <div class="product__dscr">{{product.dscr}}</div>
                    </div>
                </li>
            </ul>

            <div v-if="productsList.length <= 0">К сожалению, по выбранному вами разделу не найдено ни одного изделия. Вы можете<a href="#" @click="filtering()">вернуться ко всем работам.</a></div>

        </div>



    </main>

    <footer class="footer"></footer>
<transition name="fade">
    <div v-if="currentProduct" class="modal">
        <div class="modal__overlay" @click="closePopup">
        </div>
        <div class="img-big">
            <button class="btn-close" @click="closePopup" title="Закрыть"></button>
            <img :src="currentProduct.img" alt="">

        </div>
    </div>
</transition>
</div>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>

